#high-section {
  padding: 20px;
  margin-top: 25px;

  .for-with {
    max-width: 1366px;
    margin: 0 auto;

    h1 {
      font-size: 30px;
    }

    #heading-1 {
      font-size: 40px;
      text-align: center;
      img {
        width: 30px;
      }
    }

    #text-1 {
      width: 50%;
      text-align: center;
      font-size: 17px;
      line-height: 1.3;
      margin: 10px auto 0;
    }

    .swiper-wrapper {
      // transform: translate3d(0px, 0px, 0px) !important;
      padding: 16px;
    }

    .pupils-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 50px;
      padding: 0 40px;

      .pupils-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        padding: 10px 20px;
        width: 90%;
        box-shadow: 0 0 15px 0px #00000038;
        border: 3px solid #fff;
        cursor: pointer;
        font-family: "Newsreader", serif;

        &:hover {
          border: 3px solid #1ad07980;
          box-shadow: unset;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        span {
          font-size: 26px;
          opacity: 0.7;
        }
      }
    }

    .pupils-news-container {
      display: flex;
      padding: 20px;
      gap: 20px;
      margin-top: 40px;

      .news-inner-1,
      .news-inner-2 {
        width: 50%;
        border-radius: 15px;
      }

      .news-inner-1 {
        background-color: #fff;
        padding: 30px;

        h1 {
          font-weight: 400;
          font-size: 28px;
        }

        p {
          margin-top: 10px;
        }

        .spans {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          row-gap: 20px;

          .span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            
            span {
              font-weight: 600;
            }

            p {
              width: 560px;
              margin: unset;
              
              &.lin {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 96.5%;
              }

              &.qal {
                font-weight: 500;
              }
            }

            .green {
              width: 12px !important;
              height: 12px !important;
              border-radius: 50%;
              background-color: #1ad079e0;
              display: inline-block;
            }
          }
        }

        .more-btn-link {
          padding: 5px 20px 5px;
          border-radius: 7px;
          color: #00000080;
          border: 1px solid #1ad07980;
          float: right;

          &:hover {
            color: #fff;
            background-color: #1ad07980;
          }
        }
      }

      .news-inner-2 {
        background-color: #00000040;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -10px;
        }
      }
    }
  }
}
.feature-container {
  cursor: pointer;
  background-color: #f7f8fc;
  border-radius: 5px;
  padding: 12px;
  border: 2px solid transparent;

  &.expanded {
    border-color: #1AD079;
  }

  .span {
    display: flex;
    align-items: flex-start;
  }
  
  .toggle-indicator {
    margin-left: 5px;
    font-size: 0.8em;

    svg {
      width: 25px;

      &.active {
        transform: rotate(45deg);
      }
    }
  }
  
  .feature-details {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    
    &.active {
      max-height: 50px;
      margin-top: 10px;
    }
  }
}

.toplam {
  display: none;
}

@media screen and (max-width: 500px) {
  #high-section {
    .for-with {
      #heading-1 {
        font-size: 26px;
      }
      #text-1 {
        width: 100%;
        font-size: 15px;
      }

      .pupils-container {
        padding: 0;
      }
      .pupils-news-container {
        flex-direction: column;
        margin-top: 0;


        .spans {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          display: none !important;

          &.mobile-version {
            display: block !important;
          }

          .span {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 600;
            margin-top: 10px;

            p {
              margin: unset;

              
            }

            .green {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: #1ad079e0;
              display: inline-block;
            }
          }
        }

        .more-btn-link {
          padding: 5px 20px 5px;
          border-radius: 7px;
          color: #00000080;
          border: 1px solid #1ad07980;
          float: right;
          display: none;

          &.mobile-version {
            display: block;
          }

          &:hover {
            color: #fff;
            background-color: #1ad07980;
          }
        }

        .news-inner-1,
        .news-inner-2 {
          width: 100%;
          padding: 0;
        }

        .news-inner-1 {
          background-color: transparent;
          h1 {
            font-size: 22px;
          }
          p {
            font-size: 14px;
          }
        }

        .news-inner-2 {
          height: 250px;
          overflow: hidden;
        }

        .toplam {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          
          .feature-container {
            margin-top: 5px;
            padding: 12px 5px;
            background-color: #fff;
          }

          .feature-details {
            font-size: 14px;
          }

          .span {
            margin-top: 0;
            p {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 14px;
              width: 100%;

              svg {
                width: 20px;
              }
            }
          }

          a {
            font-size: 13px;
            padding: 5px;
          }
        }
      }
    }
  }
}
