.about-test-school {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 40px;

  h1 {
    font-weight: 600;
    font-size: 32px;
    margin-top: 20px;
    text-align: center;
    color: #303473;
  }

  h2 {
    text-align: center;
    color: #303473;
    margin-top: 20px;
  }

  .schools-cards {
    gap: 20px;
    margin-top: 20px;
    // justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .school-card {
      padding: 20px;
      display: flex;
      gap: 20px;
      align-items: center;
      color: #303473;
      font-size: 22px;
      background-color: #fff;
      box-shadow: 0 0 10px #00000018;
      border-radius: 7px;
      position: relative;
      font-weight: 600;
      border: 2px solid transparent;

      &.active {
        border: 2px solid #14a35e;
      }

      &:hover {
        box-shadow: unset;
      }

      img {
        width: 120px;
      }

      p {
        text-align: center;
        font-size: 20px;
      }

      span {
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: #303473bd;
        font-size: 18px;
      }
    }
  }

  p {
    color: #303473;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 20px;

    thead {
      tr {
        th {
          color: #303473;
          padding: 10px 0;
          width: 13.33px;

          &:first-child {
            width: 50%;
          }
        }
      }
    }

    .opened-modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-70%, -50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 7px;
      opacity: 0;
      z-index: -9;
      min-width: 400px;

      &.active {
        z-index: 2;
        opacity: 1;
        transform: translate(-50%, -50%);
      }

      .balance-popup {
        flex-direction: column;
        width: 400px;
      }

      p {
        text-align: center;
        color: rgb(0, 0, 0);

        span {
          animation: anim 1.5s infinite;
          
          @keyframes anim {
          0% {
            text-decoration: none;
            color: #000;
          }
          // 30% {
          //   text-decoration: underline;
          //   color: #1ad079;
          // }
          // 50% {
          //   text-decoration: none;
          // }
          100% {
            text-decoration: underline;
            color: #1ad079;
          }
        }
        }
      }

      div {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 15px;

        button,
        a {
          padding: 8px 13px;
          width: 50%;
          border-radius: 7px;
          background-color: red;
          border: 2px solid transparent;
          font-size: 15px;
          color: #fff;
          cursor: pointer;
          text-align: center;

          &:last-child,
          a {
            background-color: #16a864;

            &:hover {
              border-color: #16a864;
              color: #16a864;
            }
          }

          &:hover {
            background-color: transparent;
            border-color: red;
            color: red;
          }
        }

        a {
          background-color: #16a864;

          &:hover {
            border-color: #16a864;
            color: #16a864;
          }
        }
      }
    }
    .m-shape {
      background-color: #0000003b;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      content: "";
      position: fixed;
    }
    tbody {
      tr {
        background-color: #fff;
        &:nth-child(2n + 1) {
          background-color: #f3faff;
        }

        td {
          &:first-child {
            color: #16a864;
            width: 50%;
            font-size: 18px;
            font-weight: 600;
            text-align: left;
          }

          padding: 15px 20px;
          width: 13.33px;
          text-align: center;

          button {
            background-color: #1ad079;
            padding: 10px 14px;
            border-radius: 7px;
            color: #fff;
            font-size: 15px;
            border: none;
            cursor: pointer;

            &:hover {
              background-color: #14a35e;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .about-test-school {
    .schools-cards {
      .school-card {
        img {
          width: 110px;
        }

        p {
          font-size: 17px;
        }

        span {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .about-test-school {
    padding: 0 20px;
    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 15px;
    }

    .schools-cards {
      max-width: 500px;
      overflow-y: hidden;
      overflow-x: auto;
    }

    .table-cont {
      max-width: 500px;
      overflow-y: unset;
      overflow-x: auto;
    }

    table {
      // width: 550px;
      .opened-modal {
        width: 85% !important;
        min-width: unset !important;


        .balance-popup {
          width: 100%;
        }

        div {
          button {
            padding: 8px;
            font-size: 13px !important;
          }
        }
      }
      tr {
        th,
        td {
          font-size: 12px;
          width: unset;
          text-align: center !important;

          &.mob-t {
            display: none;
          }
        }

        th {
          &:first-child {
            width: unset !important;
          }
        }

        td {
          &:first-child {
            width: unset !important;
            font-size: 12px !important;
          }
          button {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}
