#login-section {
    min-height: 100vh;
    background-color: #0b0e1f;
    padding-bottom: 20px;
    
    .section-header {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        color: #fff;
        max-width: 1092px;

        h1 {
            font-size: 36px;
            font-family: "Vast Shadow", serif;
            text-align: center;

            span {
                color: #FAFF00;
            }
        }

        p {
            // position: absolute;
            // right: 100px;
            // bottom: 5px;
            color: #FFFFFF80;
            text-align: center;
        }
    }

    .login-container {
        max-width: 472px;
        margin: 0 auto;
        background-color: #D9D9D933;
        width: 35%;
        padding: 20px 30px;
        border-radius: 1rem;
        margin-top: 30px;

        h1 {
            color: #fff;
            text-align: center;
            font-family: "Anek Odia", sans-serif;
        }

        .line {
            width: 99%;
            margin: 0 auto;
            background-image: linear-gradient(to left, #D9D9D933, #D9D9D933, #fff, #D9D9D933, #D9D9D933);
            height: 2px;
        }

        .content {
            margin-top: 25px;
            display: flex;
            gap: 20px;

            &.login-content {
                flex-direction: column !important;

                .login-tabs {
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid rgba(26, 208, 121, 0.5019607843);

                    button {
                        font-size: 15px;
                        width: 50%;
                        position: unset;
                        transform: unset;
                        box-shadow: unset;
                        background-color: unset;
                        border-radius: 0;
                        line-height: 17px;

                        &.active {
                            color: rgba(26, 208, 121, 0.5019607843);
                        } 
                        
                        &:first-child {
                            font-size: 14px;
                            border-right: 1px solid rgba(26, 208, 121, 0.5019607843);
                        }
                    }
                }
            }

            .left {
                display: flex;
                flex-direction: column;
                width: 100%;
                row-gap: 20px;
            }
            
            input {
                padding: 10px;
                border-radius: 7px;
                border: 1px solid #1AD07980;
                background-color: transparent;
                outline: 0;
                color: #FFFFFF66;
                height: 45px;
                font-size: 16px;

                &::placeholder {
                    color: #FFFFFF66;
                }
            }
        }

        .forgot-pass {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 20px;
            flex-direction: column;

            p {
                color: #FFFFFF;

                a {
                    color: #FAFF00;
                    text-decoration: underline;
                }
            }

            a {
                color: #fff;

                &:hover {
                    text-decoration: underline !important;
                }
            }

        }
        button {
            background-color: #1AD079;
            padding: 9px 40px 4px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 20px;
            border-radius: 8px;
            border: 0;
            cursor: pointer;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            box-shadow: 0 0 5px #1AD079,
                        0 0 10px #1AD079;
            font-family: "Anek Odia", sans-serif;
        
            &:hover {
                box-shadow: unset;
            }
        }
    }
    .success-message {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 10px;
        background-color: #4caf50; /* Green */
        color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
      }

    .alert {
        padding: 10px;
        border-radius: 8px;
        background-color: #db888b;
        color: #2b0b0e;
        margin-top: 15px;
    }
      
}


@media screen and (max-width: 500px) {
    #login-section {
    
        .section-header {
            padding: 20px;

            h1 {
                text-align: left;
                font-size: 20px;
            }

            p {
                text-align: left;
                width: 100%;
                font-size: 15px;
                margin-top: 10px;
            }
        }
        .login-container {
            background-color: transparent;
            width: 100%;
            margin-top: 0;
            padding-top: 0;

            form {
                .content {
                    display: flex;

                    
                    .input-row {
                        width: 100%;
                    }
                }
            }

            .forgot-pass {
                p, a {
                    font-size: 14px;
                }
            }

            .steps {
                h2 {
                    font-size: 15px;
                }
            }
        }
    }   
}