.loadingAnalyzing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;

    .load {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #19ac65;
        background-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        animation: load 1s infinite linear;

    }
    @keyframes load {
        100% {
            transform: rotate(360deg);  
        }
    }
}

@media screen and (min-width: 1550px) {
    .loadingAnalyzing {
        .text {
            font-size: 20px;
            font-weight: 600;
        }
    }
}