.header-top {
  background-color: #0b0e1e;
  color: #fff;
  height: 40px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

header {
  background-color: #0b0e1e;
  height: 90px;
  padding: 0 30px;
  font-family: "Poppins", sans-serif;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    height: 100%;

    .logo {
      width: 300px;

      &:active {
        transform: scale(0.9);
      }

      a {
        display: flex;

        &.active-link {
          color: #4fb785;
        }

        img {
          width: 100%;
        }
      }
    }

    .nav-menu {
      ul {
        display: flex;
        gap: 20px;

        li {
          cursor: pointer;

          a {
            color: #fff;

            &:hover,
            &.active-link {
              color: #4fb785;
            }
          }
        }
      }
    }

    .search-signup {
      display: flex;
      align-items: center;
      gap: 15px;

      #signup,
      #login {
        padding: 10px 12px;
        background-color: #1ad079;
        color: #0b0e1e;
        border-radius: 25px;
        font-weight: 600;
        box-shadow: 0 0 5px #179f5d;

        
        &:hover {
          box-shadow: unset;
          background-color: #179f5d;
        }

        &:active {
          transform: scale(0.9);
        }
      }

      #login {
        padding: 10px 15px;
      }
    }
  }
  .header-success-message {
    padding: 10px 25px;
    background-color: #659983;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }

  .menu-icon {
    display: none;
  }

  .menu-container {
    display: none;
  }

  // #logout {
  //     cursor: pointer;
  //     padding: 13px 20px;
  //     background-color: #1AD079;
  //     border-radius: 8px;
  //     border: 0;
  //     color: #fff;
  //     font-size: 16px;
  //     font-weight: 600;

  //     &:hover {
  //         background-color: #179f5d;
  //     }
  // }

  .align-items {
    display: flex;
    align-items: center;

    .user-balance {
      color: #fff;
      margin-right: 20px;
      width: unset !important;

      svg {
        width: 22px;
      }
    }

    .profile {
      display: flex;
      align-items: center;
      // width: 50px;
      // height: 50px;
      // border-radius: 50%;
      padding: 10px 15px;
      // border: 1px solid #000;
      box-shadow: 0 0 5px #179f5d;
      background-color: #179f5d;
      gap: 5px;
      border-radius: 23px;
      color: #fff;

      &:active {
        transform: scale(0.9);
      }

      &:hover {
        box-shadow: unset;
      }

      img {
        object-fit: cover;
        width: 20px;
        height: 20px;
        // border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    height: unset;
    padding: 0;
    .container {
      .logo {
        width: 150px;
        margin-left: 10px;
      }

      .nav-menu {
        display: none;
      }

      .search-signup {
        margin-right: 10px;

        .align-items {
          .user-balance {
            display: none;
          }

          .profile {
            font-size: 13px;
          }
        }

        a {
          padding: 9px 12px;
          font-size: 15px;
        }

        #login,
        #signup {
          padding: 9px 15px;
        }

        #signup {
          display: none;
        }
      }
    }
    .menu-icon {
      position: relative;
      z-index: 999;
      width: 100%;
      height: 40px;
      background-color: #0e1226;
      display: flex;
      align-items: center;
      padding: 0 20px;
      margin-top: 10px;

      svg {
        width: 30px;
      }
    }

    .menu-container {
      width: 70%;
      height: 100vh;
      background-color: #0e1226;
      position: fixed;
      left: -100%;
      top: 0;
      z-index: 9999999999;
      border-radius: 0 5px 5px 0;
      display: unset;

      &.active {
        left: 0;
      }

      ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 5px;
        margin-top: 20px;

        li {
          padding: 5px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90%;
          border-radius: 5px;
          text-align: center;
          color: #fff;
          gap: 5px;

          &:first-child {
            justify-content: flex-end;

            box-icon {
              transform: rotate(45deg);
            }
          }

          a {
            color: #fff;
          }

          &:hover {
            background-color: #f7f8fc23;
          }
        }
      }
    }
  }
}
