#banner {
    position: relative;
    height: 400px;
    max-width: 1140px;
    width: 90%;
    margin: 70px auto 0;
    border-radius: 50px;
    overflow: hidden;

    &:hover {
        .text-container {
            transition: all 0.8s ease;
            transform: translate(-50%, 0px);
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .text-container {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 220px);
        width: 97%;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 35px;
        padding: 25px 30px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-content {
            text-align: center;
            max-width: 800px;

            h1 {
                font-size: 30px;
                line-height: 1.3;
                font-weight: 500;
                margin-bottom: 20px;
                color: #fff;
            }

            .cta-btn {
                display: inline-block;
                background-color: #179f5d;
                color: #fff;
                font-weight: 500;
                padding: 10px 20px;
                border-radius: 25px;
                text-decoration: none;
                transition: all 0.3s ease;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

    /* Responsive */
    @media screen and (max-width: 768px) {
        #banner {
            height: 450px;

            .text-container {
                transform: translate(-50%,0);
                padding: 15px;
                border-radius: 25px;

                .text-content {
                    h1 {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        #banner {
            height: 500px;
            border-radius: 20px;

            .text-container {
                width: 92%;
                padding: 20px;
                flex-direction: column;
                row-gap: 20px;

                .text-content {
                    h1 {
                        font-size: 20px;
                    }

                    .cta-btn {
                        padding: 8px 16px;
                        font-size: 14px;
                    }
                }
            }
        }
    }