.video-page {
  padding: 20px 60px;
  max-width: 1366px;
  margin: 0 auto;

  h1 {
    margin: 15px 0;
  }

  .video-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .video-card {
      height: 300px;
      background-color: #fff;
      border-radius: 15px;  
      
      a {
        color: #000;
      }

      &:hover {
        background-color: rgb(250 175 95 / 7%);
        box-shadow: 0 0 0 5px #00000052;
      }

      .course-img {
        height: 20%;
        display: flex;
        align-items: flex-start;
        padding: 20px 20px 0;

        img {
          width: 80px;
        }
      }
      .course-title {
        height: 60%;
        display: flex;
        align-items: flex-end;
        border-bottom: 1px solid #e5e7eb;
        padding: 0 20px 10px;

        p {
          font-size: 26px;
          font-weight: 500;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .videos-count {
        display: flex;
        align-items: center;
        height: 20%;
        padding: 20px;
        gap: 5px;

        &.ac {
          flex-direction: column;
        }

        span {
          color: #16a05f;
        }

        .circle {
          width: 4px;
          height: 4px;
          background-color: #000000b0;
          border-radius: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .video-page {
    .video-content {
        grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 500px) {
  .video-page {
    padding: 20px;
    .video-content {
        grid-template-columns: repeat(1, 1fr);
    }
  }
}