.matematika-results {
  font-family: Arial, sans-serif;
  max-width: 1366px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #f8f8f5;
  border-radius: 10px;

  h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 5px;
  }

  h3 {
    color: #34495e;
    text-align: center;
    margin-top: 0;
    font-size: 16px;
    font-weight: normal;
  }

  .scores-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: flex-end;
    height: 205px;
  }

  .scroll-container {
    max-width: 1205px;
    width: 100%;
    overflow: auto;
  }

  .item-content {
    display: flex;
    flex-direction: column;
    min-width: 115px;
    height: 100%;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 55px;
  }

  .score-item {
    max-height: 200px;
    width: 100%;
    height: var(--i);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background-image: linear-gradient(
      to bottom,
      var(--c),
      var(--c-op50),
      transparent
    );
    position: relative;

    .ver-line {
      width: 5px;
      height: calc(var(--i) - 20px);
      top: 20px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 4px;
      background-image: linear-gradient(to bottom, #fff, #fff, transparent);
    }
  }

  .item-way {
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: var(--c-op100);
    position: relative;
    z-index: 9;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      font-weight: 500;
      background-color: #fff;
      padding: 3px 7px;
      border-radius: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .score-category {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #7f8c8d;

    .stats-details {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .matematika-results {
    width: 100%;
    .scroll-container {
      width: 100%;
      overflow: auto;
      max-width: 700px;
    }
  }
}

@media screen and (max-width: 500px) {
  .matematika-results {
    width: 100%;
    .scroll-container {
      max-width: 500px;
    }
  }
}
