#not-found {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 40px;

        span {
            font-size: 22px;
        }
    }

    a {
        text-decoration: underline !important;
    }
}