.success-msg {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #000;
    border-radius: 7px;
    z-index: 999999;
    background-color: #18804c;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    animation: showMessage 4s ease-in-out forwards;
    opacity: 0;

    &.fail {
      background-color: red;
    }
    
    p {
        color: #fff !important;
    }

    @keyframes showMessage {
        0% {
          opacity: 0; /* Initially hidden */
          right: 15px;
        }
        5% {
          opacity: 1; /* Fade in */
          right: 15px;

        }
        95% {
          opacity: 1; /* Stay visible */
          right: 15px;

        }
        100% {
          opacity: 0; /* Fade out */
          right: -100%;
        }
      }
    .s-line {
        width: 100%;
        height: 10px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        background-color: #ffffff21;


        .s-line-inner {
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            
            &.active {
                animation: sLine 4s linear;
            }

            @keyframes sLine {
                100% {
                    width: 100%;
                }
            }
        }


    }

}